attrs==22.1.0
certifi==2022.9.24
charset-normalizer==2.1.1
cx-Freeze==6.12.0
idna==3.4
lief==0.12.2
Logbook==1.5.3
packaging==21.3
pyparsing==3.0.9
python-dateutil==2.8.2
Represent==1.6.0.post0
requests==2.28.1
rush==2021.4.0
satellitetle==0.14.0
sgp4==2.21
six==1.16.0
spacetrack==0.16.0
urllib3==1.26.12
